@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");

html {
  background-color: #01c5f5;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.App {
  background: url("./assets/hero_bg.png") fixed no-repeat right bottom / 400px
    #01c5f5;
  /* background-color: red; */
}

.cards {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  height: 100vh;
}

.header {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}

.scores {
   text-align: center;
   font-size: larger;
}

@media only screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
